<template>
  <component :name="name" :is="customInputComponent" :value="initialInputValue">
    <slot></slot>
  </component>
</template>

<script setup>
import { computed, onMounted, inject, ref } from "vue";

const initialValues = inject("form/initialValues");
const initialInputValue = ref(null);

const props = defineProps({
  name: {
    type: String,
    required: true
  },
  as: {
    type: [Object, String],
    default: 'input'
  }}
);

onMounted(function () {
  if (initialValues.hasOwnProperty(props.name)) {
    initialInputValue.value = initialValues[props.name]
  }
})

const customInputComponent = computed(() => {
  if (props.as
      && typeof props.as === 'object'
      && !Array.isArray(props.as)
      && Object.values(props.as)[0].hasOwnProperty('render')
  ) {
    return Object.values(props.as)[0];
  }
  return props.as;
});

</script>