<template>
    <form @submit.prevent="submitForm">
        <slot />
    </form>
</template>

<script setup>
import {onMounted, provide, reactive, ref} from "vue";

const values = reactive({});

const props = defineProps({
  onSubmit: {
    type: [Function],
    required: true
  },
  initialValues: {
    type: [Object, Boolean],
    default: false
  },
  values: {
    type: [Object, Boolean],
    default: false
  }
});

const submitForm = function (e) {
  const form = e.target;
  const formData = new FormData(form);
  for (const [inputName, value] of formData) {
    values[inputName] = value;
  }
  props.onSubmit({...values}, null);
}

provide("form/initialValues", props.initialValues);

</script>