<script setup>
import CustomInput from "@/components/CustomInput.vue";

function handleSubmit(values, actions) {
  alert(JSON.stringify(values, null, 2));
}

</script>

<template>
  <main>
    <h1>This is a test for field component</h1>
    <FormFormik
        :initialValues="{ select: 'green', textarea: 'This text is for textarea input!' }"
        :onSubmit="handleSubmit"
    >
      <FieldFormik name="select" as="select" >
        <option value="red">Red</option>
        <option value="green">Green</option>
        <option value="blue">Blue</option>
      </FieldFormik>
      <FieldFormik name="textarea" as="textarea"></FieldFormik>
      <FieldFormik name="email" as="input"></FieldFormik>
      <FieldFormik name="customInput" :as="{CustomInput}"></FieldFormik>
      <FieldFormik name="submit" as="input" type="submit" value="Submit form"></FieldFormik>
    </FormFormik>
  </main>
</template>

